@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.#{$namespace}-manager-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include clr-root();
    @include clr(background, managerContainerBackground);

    &.#{$namespace}-is-maximized,
    &.#{$namespace}-is-minimized {
        & > .#{$namespace}-manager-stage {
            overflow: visible;
        }
    }

    &.#{$namespace}-is-fullscreen {
        .#{$namespace}-titlebar-icon-maximize,
        .#{$namespace}-titlebar-icon-minimize {
            display: none !important;
        }
    }

    &.#{$namespace}-hide-fullscreen-titlebar {
        .#{$namespace}-titlebar {
            display: none !important;
        }
    }
}

.#{$namespace}-manager-stage {
    position: relative;
    overflow: hidden;
    @include clr(background, managerStageBackground);
    @include clr(boxShadow, managerStageShadow);
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    &.#{$namespace}-manager-container {
        @include clr-root-dark();
        @include clr-dark(background, managerContainerBackground);

        & > .#{$namespace}-manager-stage {
            @include clr-dark(background, managerStageBackground);
            @include clr-dark(boxShadow, managerStageShadow);
        }
    }
}
