@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

$scrollbar-size: 4px;
$scrollbar-ff-width: auto; // FF-only accepts auto, thin, none
$scrollbar-minlength: 50px; // Minimum length of scrollbar thumb
$scrollbar-track-color: transparent;
$scrollbar-color: rgba(238, 238, 247, 0.8);
$scrollbar-color-hover: rgba(238, 238, 247, 1);
$scrollbar-color-active: rgba(238, 238, 247, 1);

.#{$namespace}-max-titlebar {
    @include no-user-select;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $max-titlebar-z-index;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .#{$namespace}-title {
        display: none;
    }

    &.#{$namespace}-max-titlebar-single-title {
        .#{$namespace}-titles {
            display: none;
        }
        .#{$namespace}-title {
            display: block;
        }
    }
}

.#{$namespace}-max-titlebar-maximized {
    display: flex;
}

.#{$namespace}-titles {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-x: overlay; // for webkit
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: $scrollbar-ff-width;

    &::-webkit-scrollbar {
        height: $scrollbar-size;
        width: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
        background-color: $scrollbar-track-color;
        border-radius: $scrollbar-size * 0.5;
        transition: background-color 0.4s;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-color-hover;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $scrollbar-color-active;
    }

    &::-webkit-scrollbar-thumb:vertical {
        min-height: $scrollbar-minlength;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        min-width: $scrollbar-minlength;
    }
}

.#{$namespace}-titles-content {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}

.#{$namespace}-titles-tab {
    height: 100%;
    overflow: hidden;
    max-width: 182px;
    min-width: 150px;
    padding: 0 26px 0 16px;
    outline: none;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    border: none;
    border-right-width: 1px;
    border-right-style: solid;
    cursor: pointer;
    user-select: none;

    @include v(color, titlebar-tab-color, $titlebar-tab-color);
    @include v(
        background-color,
        titlebar-tab-background,
        $titlebar-tab-background
    );
    @include v(
        border-right-color,
        titlebar-tab-divider-color,
        $titlebar-tab-divider-color
    );
}

.#{$namespace}-titles-tab-focus {
    @include v(color, titlebar-tab-focus-color, $titlebar-tab-focus-color);
}

.#{$namespace}-readonly {
    .#{$namespace}-titles-tab {
        cursor: not-allowed;
    }
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-titles-tab {
        @include v(color, titlebar-tab-color-dark, $titlebar-tab-color-dark);
        @include v(
            background-color,
            titlebar-tab-background-dark,
            $titlebar-tab-background-dark
        );
        @include v(
            border-right-color,
            titlebar-tab-divider-color-dark,
            $titlebar-tab-divider-color-dark
        );
    }

    .#{$namespace}-titles-tab-focus {
        @include v(
            color,
            titlebar-tab-focus-color-dark,
            $titlebar-tab-focus-color-dark
        );
    }
}
