@import "../../scss/variables.scss";

$scrollbar-size: 8px;
$scrollbar-ff-width: auto; // FF-only accepts auto, thin, none
$scrollbar-minlength: 50px; // Minimum length of scrollbar thumb
$scrollbar-track-color: transparent;
$scrollbar-color: rgba(238, 238, 247, 0.8);
$scrollbar-color-hover: rgba(238, 238, 247, 1);
$scrollbar-color-active: rgba(238, 238, 247, 1);

.#{$namespace}-max-titlebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $base-z-index * 500;
    user-select: none;
}

.#{$namespace}-max-titlebar-maximized {
    display: flex;

    // .#{$namespace}-titlebar-btns {
    //     &::before {
    //         content: "";
    //         position: absolute;
    //         z-index: $base-z-index * 300;
    //         top: 0;
    //         height: 100%;
    //         width: 50px;
    //         transform: translateX(-100%);
    //         background: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
    //         pointer-events: none;
    //     }
    // }
}

.#{$namespace}-titles {
    flex: 1;
    height: 100%;
    margin: 0 16px 0 -16px;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-x: overlay; // for webkit
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: $scrollbar-ff-width;

    &::-webkit-scrollbar {
        height: $scrollbar-size;
        width: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
        background-color: $scrollbar-track-color;
        border-radius: $scrollbar-size * 0.5;
        transition: background-color 0.4s;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-color-hover;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $scrollbar-color-active;
    }

    &::-webkit-scrollbar-thumb:vertical {
        min-height: $scrollbar-minlength;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        min-width: $scrollbar-minlength;
    }
}

.#{$namespace}-titles-content {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}

.#{$namespace}-titles-tab {
    overflow: hidden;
    max-width: 182px;
    min-width: 50px;
    padding: 0 26px 0 16px;
    outline: none;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    border: none;
    border-right: 1px solid #e5e5f0;
    color: #7b88a0;
    background: transparent;
    cursor: pointer;

    & ~ & {
        margin-left: 2px;
    }
}

.#{$namespace}-titles-tab-focus {
    color: #357bf6;
}

.#{$namespace}-readonly {
    .#{$namespace}-titles-tab {
        cursor: not-allowed;
    }
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    &.#{$namespace}-titlebar {
        color: #e9e9e9;
        background: #43434d;
        border-bottom: none;
    }

    .#{$namespace}-titles-tab {
        border-right-color: #7b88a0;
    }

    .#{$namespace}-title {
        color: #e9e9e9;
    }
}
