@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.#{$namespace}-titlebar {
    @include no-user-select;

    box-sizing: border-box;
    height: 26px;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: manipulation;

    @include v(color, titlebar-color, $titlebar-color);
    @include v(background-color, titlebar-background, $titlebar-background);
    @include v(border-bottom, titlebar-border-bottom, $titlebar-border-bottom);
}

.#{$namespace}-title-area {
    padding-left: 16px;
    overflow: hidden;
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.#{$namespace}-title {
    @include no-user-select;
    @include v(color, titlebar-color, $titlebar-color);

    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: PingFangSC-Regular, PingFang SC;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.#{$namespace}-drag-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.#{$namespace}-titlebar-btns {
    padding-right: 16px;
    white-space: nowrap;
    word-break: keep-all;
    margin-left: auto;
    font-size: 0;
}

.#{$namespace}-titlebar-btn {
    @include no-user-select;

    width: 22px;
    height: 22px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    & ~ & {
        margin-left: 10px;
    }
}

.#{$namespace}-titlebar-btn-icon {
    width: 22px;
    height: 22px;
}

.#{$namespace}-readonly {
    .#{$namespace}-titlebar-btn {
        cursor: not-allowed;
    }
}

.#{$namespace}-titlebar-icon-minimize {
    background: center / cover no-repeat;
    @include v(
        background-image,
        titlebar-icon-minimize,
        url("./icons/minimize.svg")
    );
}

.#{$namespace}-titlebar-icon-maximize {
    background: center / cover no-repeat;
    @include v(
        background-image,
        titlebar-icon-maximize,
        url("./icons/maximize.svg")
    );

    &.is-active {
        @include v(
            background-image,
            titlebar-icon-maximize-active,
            url("./icons/maximize-active.svg")
        );
    }
}

.#{$namespace}-titlebar-icon-close {
    background: center / cover no-repeat;
    @include v(background-image, titlebar-icon-close, url("./icons/close.svg"));
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-title {
        @include v(color, titlebar-color-dark, $titlebar-color-dark);
    }

    .#{$namespace}-titlebar {
        @include v(color, titlebar-color-dark, $titlebar-color-dark);
        @include v(
            background-color,
            titlebar-background-dark,
            $titlebar-background-dark
        );
        @include v(
            border-bottom,
            titlebar-border-bottom-dark,
            $titlebar-border-bottom-dark
        );
    }

    .#{$namespace}-titlebar-icon-minimize {
        @include v(
            background-image,
            titlebar-icon-minimize-dark,
            url("./icons/minimize.svg")
        );
    }

    .#{$namespace}-titlebar-icon-maximize {
        @include v(
            background-image,
            titlebar-icon-maximize-dark,
            url("./icons/maximize.svg")
        );

        &.is-active {
            @include v(
                background-image,
                titlebar-icon-maximize-active-dark,
                url("./icons/maximize-active.svg")
            );
        }
    }

    .#{$namespace}-titlebar-icon-close {
        @include v(
            background-image,
            titlebar-icon-close-dark,
            url("./icons/close.svg")
        );
    }
}
