@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.#{$namespace}-titlebar {
    @include no-user-select;

    box-sizing: border-box;
    height: 26px;
    display: flex;
    align-items: center;
    background: #fff;
    user-select: none;
    border-bottom: 1px solid #eeeef7;
    touch-action: manipulation;
}

.#{$namespace}-title-area {
    padding-left: 16px;
    overflow: hidden;
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.#{$namespace}-title {
    @include no-user-select;

    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: PingFangSC-Regular, PingFang SC;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    color: #191919;
}

.#{$namespace}-drag-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.#{$namespace}-titlebar-btns {
    padding-right: 16px;
    white-space: nowrap;
    word-break: keep-all;
    margin-left: auto;
    font-size: 0;
}

.#{$namespace}-titlebar-btn {
    @include no-user-select;

    width: 22px;
    height: 22px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    & ~ & {
        margin-left: 10px;
    }
}

.#{$namespace}-titlebar-btn-icon {
    width: 22px;
    height: 22px;
}

.#{$namespace}-readonly {
    .#{$namespace}-titlebar-btn {
        cursor: not-allowed;
    }
}

.#{$namespace}-titlebar-icon-minimize {
    background: center / cover no-repeat url("./icons/minimize.svg");
}

.#{$namespace}-titlebar-icon-maximize {
    background: center / cover no-repeat url("./icons/maximize.svg");

    &.is-active {
        background-image: url("./icons/maximize-active.svg");
    }
}

.#{$namespace}-titlebar-icon-close {
    background: center / cover no-repeat url("./icons/close.svg");
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-title {
        color: #e9e9e9;
    }

    .#{$namespace}-titlebar {
        color: #e9e9e9;
        background: #43434d;
        border-bottom: none;
    }
}
