@import "../scss/variables.scss";

.#{$namespace}-collector {
    visibility: hidden;
    display: block;
    position: absolute;
    z-index: $base-z-index * 2;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 18px 16px;
    background-position: center;
}

.#{$namespace}-collector-visible {
    visibility: visible;
    pointer-events: initial;
}

.#{$namespace}-collector-readonly {
    cursor: not-allowed;
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    &.#{$namespace}-collector {
        background-color: #43434d;
    }
}
