@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.#{$namespace}-collector {
    @include no-user-select;

    visibility: hidden;
    display: block;
    position: absolute;
    z-index: $collector-z-index;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 18px 16px;
    background-position: center;
    -webkit-tap-highlight-color: transparent;

    @include v(background-color, collector-background, $collector-background);
    @include v(box-shadow, collector-shadow, $collector-shadow);
}

.#{$namespace}-collector-visible {
    visibility: visible;
    pointer-events: initial;
}

.#{$namespace}-collector-readonly {
    cursor: not-allowed;
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    &.#{$namespace}-collector {
        @include v(
            background-color,
            collector-background-dark,
            $collector-background-dark
        );
        @include v(box-shadow, collector-shadow-dark, $collector-shadow-dark);
    }
}
