@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.#{$namespace}-quarantine {
    all: initial;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.#{$namespace}-body-wrap {
    @include v(color, box-color, $box-color);

    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.#{$namespace}-content {
    width: 100%;
    height: 100%;
    position: relative;
    @include v(
        background-color,
        manager-container-background,
        $manager-container-background
    );
}

.#{$namespace}-box-stage {
    position: absolute;
    z-index: 1;
    overflow: hidden;

    @include v(
        background-color,
        manager-stage-background,
        $manager-stage-background
    );
    @include v(box-shadow, manager-stage-shadow, $manager-stage-shadow);
}

.#{$namespace}-footer-wrap {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include v(color, box-footer-color, $titlebar-color);
    @include v(background-color, box-footer-background, $titlebar-background);

    &::before {
        content: "";
        display: block;
        flex: 1;
    }
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-body-wrap {
        @include v(color, box-color-dark, $box-color-dark);
    }

    .#{$namespace}-content {
        @include v(
            background-color,
            manager-container-background-dark,
            $manager-container-background-dark
        );
    }

    .#{$namespace}-box-stage {
        @include v(
            background-color,
            manager-stage-background-dark,
            $manager-stage-background-dark
        );
        @include v(
            box-shadow,
            manager-stage-shadow-dark,
            $manager-stage-shadow-dark
        );
    }

    .#{$namespace}-footer-wrap {
        @include v(color, box-footer-color-dark, $titlebar-color-dark);
        @include v(
            background-color,
            box-footer-background-dark,
            $titlebar-background-dark
        );
    }
}
