@import "../scss/variables.scss";

.#{$namespace}-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $base-z-index;
    will-change: transform;
    transition: width 0.4s cubic-bezier(0.4, 0.9, 0.71, 1.02),
        height 0.4s cubic-bezier(0.55, 0.82, 0.63, 0.95),
        opacity 0.6s cubic-bezier(0.7, 0, 0.84, 0), transform 0.4s ease;
}

.#{$namespace}-box-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #f9f9fc;
    box-shadow: 0px 4px 10px 0px rgba(47, 65, 146, 0.15);
    border-radius: 6px;
    border: 1px solid #e3e3ec;
}

.#{$namespace}-titlebar-wrap {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.#{$namespace}-content-wrap {
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.#{$namespace}-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.#{$namespace}-footer-wrap {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        display: block;
        flex: 1;
    }
}

.#{$namespace}-resize-handle {
    position: absolute;
    z-index: 2147483647;
}

.#{$namespace}-n {
    width: 100%;
    height: 5px;
    left: 0;
    top: -5px;
    cursor: n-resize;
}

.#{$namespace}-s {
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -5px;
    cursor: s-resize;
}

.#{$namespace}-w {
    width: 5px;
    height: 100%;
    left: -5px;
    top: 0;
    cursor: w-resize;
}

.#{$namespace}-e {
    width: 5px;
    height: 100%;
    right: -5px;
    top: 0;
    cursor: e-resize;
}

.#{$namespace}-nw {
    width: 15px;
    height: 15px;
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.#{$namespace}-ne {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.#{$namespace}-se {
    width: 15px;
    height: 15px;
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.#{$namespace}-sw {
    width: 15px;
    height: 15px;
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.#{$namespace}-track-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0001);
    cursor: move;
}

.#{$namespace}-cursor-n {
    cursor: n-resize;
}

.#{$namespace}-cursor-s {
    cursor: s-resize;
}

.#{$namespace}-cursor-w {
    cursor: w-resize;
}

.#{$namespace}-cursor-e {
    cursor: e-resize;
}

.#{$namespace}-cursor-nw {
    cursor: nw-resize;
}

.#{$namespace}-cursor-ne {
    cursor: ne-resize;
}

.#{$namespace}-cursor-se {
    cursor: se-resize;
}

.#{$namespace}-cursor-sw {
    cursor: sw-resize;
}

.#{$namespace}-maximized,
.#{$namespace}-no-resize {
    .#{$namespace}-resize-handles {
        display: none;
    }
}

.#{$namespace}-maximized {
    box-shadow: none;
    transition: none;
}

.#{$namespace}-minimized {
    will-change: transform;
    transition: width 0.05s cubic-bezier(0.4, 0.9, 0.71, 1.02),
        height 0.05s cubic-bezier(0.55, 0.82, 0.63, 0.95),
        opacity 0.6s cubic-bezier(0.7, 0, 0.84, 0), transform 0.6s ease;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.#{$namespace}-transforming {
    will-change: transform;
    transition: opacity 0.6s cubic-bezier(0.7, 0, 0.84, 0);
}

.#{$namespace}-readonly {
    .#{$namespace}-resize-handle {
        cursor: initial !important;
        pointer-events: none !important;
    }
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-box-main {
        color: #e9e9e9;
        background: #212126;
        border-color: #43434d;
    }
}
