@import "../scss/variables.scss";
@import "../scss/mixins.scss";
@import "../scss/fancy-scrollbar.scss";

.#{$namespace}-quarantine {
    all: initial;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.#{$namespace}-body-wrap {
    @include clr(color, boxColor);

    flex: 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.#{$namespace}-content {
    width: 100%;
    height: 100%;
    position: relative;
    @include clr(background-color, boxContainerBackground);
}

.#{$namespace}-box-stage {
    position: absolute;
    z-index: 1;
    overflow: hidden;

    @include clr(background-color, boxStageBackground);
    @include clr(boxShadow, boxStageShadow);
}

.#{$namespace}-footer-wrap {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include clr(color, boxFooterColor);
    @include clr(background-color, boxFooterBackground);

    &::before {
        content: "";
        display: block;
        flex: 1;
    }
}

.#{$namespace}-color-scheme-dark {
    color-scheme: dark;

    .#{$namespace}-body-wrap {
        @include clr-dark(color, boxColor);
    }

    .#{$namespace}-content {
        @include clr-dark(background-color, boxContainerBackground);
    }

    .#{$namespace}-box-stage {
        @include clr-dark(background-color, boxStageBackground);
        @include clr-dark(boxShadow, boxStageShadow);
    }

    .#{$namespace}-footer-wrap {
        @include clr-dark(color, boxFooterColor);
        @include clr-dark(background-color, boxFooterBackground);
    }
}
