@mixin no-user-select {
    user-select: none;
    // touch device
    -webkit-touch-callout: none;
    // iOS Safari
    -webkit-user-select: none;
}

@mixin v($property, $varName, $val) {
    #{$property}: $val;
    #{$property}: var(--tele-#{$varName}, $val);
}
