$namespace: "telebox";

$base-z-index: 100;
$max-titlebar-z-index: $base-z-index + 5000;
$stage-z-index: $max-titlebar-z-index + 10;
$collector-z-index: $stage-z-index + 10;

$tele-colors: (
    managerContainerBackground: #f9f9f9,
    managerStageBackground: #fff,
    managerStageShadow: 0px 0px 16px rgba(0, 0, 0, 0.08),
    boxContainerBackground: #f9f9f9,
    boxStageBackground: #fff,
    boxStageShadow: 0px 0px 16px rgba(0, 0, 0, 0.08),
    boxColor: #191919,
    boxBorder: 1px solid #e3e3ec,
    boxShadow: 0px 4px 10px 0px rgba(47, 65, 146, 0.15),
    boxFooterColor: #191919,
    boxFooterBackground: #fff,
    titlebarColor: #191919,
    titlebarBackground: #fff,
    titlebarBorderBottom: 1px solid #eeeef7,
    titlebarTabColor: #7b88a0,
    titlebarTabFocusColor: #357bf6,
    titlebarTabBackground: transparent,
    titlebarTabDividerColor: #e5e5f0,
    collectorBackground: #fff,
    collectorShadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15),
);

$tele-colors-dark: (
    managerContainerBackground: #25282e,
    managerStageBackground: #272a30,
    managerStageShadow: 0px 0px 16px rgba(0, 0, 0, 0.24),
    boxContainerBackground: #25282e,
    boxStageBackground: #272a30,
    boxStageShadow: 0px 0px 16px rgba(0, 0, 0, 0.24),
    boxColor: #e9e9e9,
    boxBorder: 1px solid #383b42,
    boxShadow: 0px 4px 10px 0px rgba(56, 59, 66, 0.15),
    boxFooterColor: #e9e9e9,
    boxFooterBackground: #383b42,
    titlebarColor: #e9e9e9,
    titlebarBackground: #383b42,
    titlebarBorderBottom: none,
    titlebarTabColor: #e9e9e9,
    titlebarTabFocusColor: #357bf6,
    titlebarTabBackground: transparent,
    titlebarTabDividerColor: #7b88a0,
    collectorBackground: #383b42,
    collectorShadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15),
);

@mixin clr($property, $key) {
    #{$property}: map-get($tele-colors, $key);
    #{$property}: var(--tele-#{$key}, map-get($tele-colors, $key));
}

@mixin clr-dark($property, $key) {
    #{$property}: map-get($tele-colors-dark, $key);
    #{$property}: var(--tele-#{$key}, map-get($tele-colors-dark, $key));
}

@mixin clr-root() {
    @each $key, $value in $tele-colors {
        --tele-#{$key}: #{$value};
    }
}

@mixin clr-root-dark() {
    @each $key, $value in $tele-colors-dark {
        --tele-#{$key}: #{$value};
    }
}
